@import '../stylesheets/colours';

.heroHeader {
  &Container {
    /* stylelint-disable color-no-hex */
    background-color: $gitThemeBackground;
  }
  &Title {
    color: $gitThemeFontWhite;
    font-size: 18px;
    margin: 15px;
  }
}

