@import '../../stylesheets/colours';

.repo {
  &Wrapper {
    margin: 10px 0 5px;
  }
  &Header {
    font-size: 14px;
    font-weight: 600;
  }
  &Branches {
    color: $fontFaded;
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0;
  }
  &List {
    list-style: none;
    margin: 5px 2px;
    padding: 0;
  }
  &Profile {
    background-color: $repoBg;
    border: 1px solid $cardBorder;
    border-radius: 0 4px 4px;
    margin: 3px 0px 12px;
    padding: 5px;
  }
  &Name {
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 96%;
  }
  &CreatedAt {
    font-size: 12px;
  }
  &Language {
    margin-right: 4px;
  }
}

.branch {
  &Profile {
    padding: 0 5px;
  }
  &Name {
    font-size: 13px;
    font-weight: 600;
  }
  &NameLink {
    color: $fontBranch;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
  }
  &CommitMessage {
    font-size: 13px;
    font-weight: 300;
    padding: 2px 6px;
  }
}
