/* stylelint-disable color-no-hex */
$mainFont: #f00;
$gitThemeBackground: #000;
$gitThemeFontWhite: #fff;

$cardWrapperBg: #fff;
$cardBorder: #ced4da;
$appWrapperBg: #f2f2f2;
$repoBg: #f0f5f5;

$fontFaded: #a0a0a0;
/* stylelint-enable */

