@import '../../stylesheets/colours';

.card {
  &Wrapper {
    background-color: $cardWrapperBg;
    border: 1px solid $cardBorder;
    border-radius: 4px;
    margin: 5px 4px 10px;
    padding: 10px;
  }
  &Img {
    border: 1px solid $cardBorder;
    border-radius: 3px;
    width: 100%;
  }
  &CreatedAt {
    color: $fontBranch;
    display: block;
    font-size: 12px;
    margin-bottom: 8px;
  }
  &Activity {
    margin-top: 8px;
  }
  &DevName {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 96%;
  }
  &GithubLink {
    color: $gitThemeBackground;
    font-weight: 600;
    margin-right: 15px;
    &::before {
      content: url('../../assets/user.svg');
      line-height: normal;
      padding-right: 5px;
      vertical-align: middle;
    }
  }
  &Bio {
    font-size: 14px;
  }
  &Repos {
    font-size: 14px;
    font-weight: 600;
    &::before {
      content: url('../../assets/repo.svg');
      line-height: normal;
      padding-right: 5px;
      vertical-align: middle;
    }
  }
  &GithubProfile {
    margin: 0;
    min-height: 100%;
    padding: 12px 0;
  }
}

.search {
  &Container {
    margin: 10px 0 0;
  }
  &NotFound {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }
}

